<form class="form-horizontal ibox-content" [formGroup]="myform" (ngSubmit)="addSchedule(myform.value)" role="form">

  <div class="container">
      <div class="col-md-4">
          <div class="form-group">
              <label class="col-sm-2 label-form  control-label">Lunes</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="00" formControlName="lunes_morning">
              </div>
              <label class="col-sm-2 label-form control-label">:</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="00" formControlName="lunes_afternoon">
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-2 label-form  control-label">Martes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="martes_morning">
            </div>
            <label class="col-sm-2 label-form control-label">:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="martes_afternoon">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-2 label-form  control-label">Miercoles</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="miercoles_morning">
            </div>
            <label class="col-sm-2 label-form control-label">:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="miercoles_afternoon">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-2 label-form  control-label">Jueves</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="jueves_morning">
            </div>
            <label class="col-sm-2 label-form control-label">:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="jueves_afternoon">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-2 label-form  control-label">Viernes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="viernes_morning">
            </div>
            <label class="col-sm-2 label-form control-label">:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="00" formControlName="viernes_afternoon">
            </div>
        </div>
    </div>

  <div>
      <div class="cont-button">
          <div class="form-group">
              <button type="button" class="btn btn-standard" (click)="cancelEditing.emit();" [disabled]="loading">
                  <i class="fa fa-times-circle-o"></i> Cancel</button>
              <button class="btn btn-primary" type="submit">Continue</button>
          </div>
      </div>
  </div>
  </div>

</form>