
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1>User registration</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <form  [formGroup]="myform" (ngSubmit)="addUser(myform.value)" role="form" class="form-flat ng-pristine ng-valid">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group empty-value" required>
                <label for="engineers_name" title="Engineer's name">Name</label>
                <input if="engineers_name" onfocus="onFocus(event);" onblur="onBlur(event);" type="text" formControlName="name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group empty-value" required>
                <label for="engineers_last_name" title="Engineer's last name">Last Name</label>
                <input type="text" onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_last_name" formControlName="last_name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" required>
                <label for="engineers_email" title="Engineer's email">Email</label>
                <input type="email" onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_email" formControlName="email" placeholder="john.doe@microfocus.com">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group empty-value" required>
                <label for="engineers_city" title="Engineer's city">City</label>
                <input type="text" onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_city" formControlName="city">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" required>
                <label for="types_of_cases" title="Static/Dynamic">Static/Dynamic</label>
                <div class="dropdown">
                  <input id="types_of_cases" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="Both" readonly="ReadOnly" type="text"  formControlName="sta_dyn">
                  <i class="caret"></i>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="type_of_cases_dropdown">
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Both</a></li>
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Dynamic</a></li>
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Static</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" required>
                <label for="engineers_max_cases" title="Max cases">Max cases</label>
                <input type="number" onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_max_cases" formControlName="max">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group" required>
                <label for="status_select" title="Status">Status</label>
                <div class="dropdown">
                  <input id="status_select" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="Available" readonly="ReadOnly" type="text" formControlName="status">
                  <i class="caret"></i>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="status_dropdown">
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Available</a></li>
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Disable</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" required>
                <label for="role_select" title="Role">Role</label>
                <div class="dropdown">
                  <input id="role_select" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="User" readonly="ReadOnly" type="text" formControlName="role">
                  <i class="caret"></i>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="role_dropdown">
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">User</a></li>
                    <li><a tabindex="-1" onclick="changeDropdownValue(this);">Admin</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="form-group empty-value" required>
                <label for="engineers_username" title="Username">Username</label>
                <input type="text"  onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_username" formControlName="username"/>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group empty-value" required>
                <label for="engineers_password" title="Password">Password</label>
                <input type="password"  onfocus="onFocus(event);" onblur="onBlur(event);" id="engineers_password" formControlName="password"/>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer panel-button-footer">
          <button class="btn btn-flat btn-primary" type="submit">Continue</button>
          <button class="btn btn-flat btn-default" (click)="cancelEditing.emit();" type="reset">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
