@import "../node_modules/angular-calendar/css/angular-calendar.css";

.navbar-body{
  a{
    cursor: pointer;
  }
}

.form-flat .dropdown input[type="text"]{
  cursor: pointer !important;
}

.form-flat .dropdown ul.dropdown-menu li{
  cursor: pointer;
}

.mydrp{
  border: none !important;
  .selectiongroup > input{
    cursor: pointer;
  }

  .headerokbtn, .headerclearbtn{
    border: none !important;
  }
}
