
<div class="container" *ngIf="showschedule">
    <h3>Schedule</h3>
  </div>
  <table id="ticket" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead class="tablehead">
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tbody>
      <!--<div > -->
      <tr >
        <td>{{schedule.monday_morning.hour}}:{{schedule.monday_morning.minutes}} - {{schedule.monday_afternoon.hour}}:{{schedule.monday_afternoon.minutes}}</td>
        <td>{{schedule.tuesday_morning.hour}}:{{schedule.tuesday_morning.minutes}} - {{schedule.tuesday_afternoon.hour}}:{{schedule.tuesday_afternoon.minutes}}</td>
        <td>{{schedule.wednesday_morning.hour}}:{{schedule.wednesday_morning.minutes}} - {{schedule.wednesday_afternoon.hour}}:{{schedule.wednesday_afternoon.minutes}}</td>
        <td>{{schedule.thursday_morning.hour}}:{{schedule.thursday_morning.minutes}} - {{schedule.thursday_afternoon.hour}}:{{schedule.thursday_afternoon.minutes}}</td>
        <td>{{schedule.friday_morning.hour}}:{{schedule.friday_morning.minutes}} - {{schedule.friday_afternoon.hour}}:{{schedule.friday_afternoon.minutes}}</td>
      </tr>
        <!--</div> -->
    </tbody>
  </table>
  