<ng-container *ngIf='showview'>
  <div class="row">
    <div class="col-sm-12 col-sm-10 col-sm-offset-1">
      <h1>My Schedule</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Monday</b>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <p>{{schedule.monday_morning}}&nbsp;-&nbsp;{{schedule.monday_afternoon}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Tuesday</b>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <p>{{schedule.tuesday_morning}}&nbsp;-&nbsp;{{schedule.tuesday_afternoon}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Wednesday</b>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <p>{{schedule.wednesday_morning}}&nbsp;-&nbsp;{{schedule.wednesday_afternoon}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Thursday</b>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <p>{{schedule.thursday_morning}}&nbsp;-&nbsp;{{schedule.thursday_afternoon}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Friday</b>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-3">
              <p>{{schedule.friday_morning}}&nbsp;-&nbsp;{{schedule.friday_afternoon}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-info">
                Contact the site administrator if you need to modify your schedule.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="checkbox inline checkbox-switch">
            <label>
              <input id="checkbox" [(ngModel)]="isChecked" (change)="changeview(isChecked)" type="checkbox">
              <span>
                <div>Add time off?</div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showcalendar">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-flat" [formGroup]="myform" novalidate (ngSubmit)="addTimeOff(myform.value)" role="form">
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="mydaterange" title="Dates out">Days out</label>
                  <my-date-range-picker id="mydaterange" name="mydaterange" [options]="myDateRangePickerOptions" formControlName="myDateRange"
                    readonly></my-date-range-picker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" style="border-right: 1px solid rgba(0, 0, 0, 0.12);">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="">Leaving time</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <select type="number" class="form-control" formControlName="start_time_hour">
                      <option value="" disabled>-- Select an hour --</option>
                      <option value='6'>6</option>
                      <option value='7'>7</option>
                      <option value='8'>8</option>
                      <option value='9'>9</option>
                      <option value='10'>10</option>
                      <option value='11'>11</option>
                      <option value='12'>12</option>
                      <option value='13'>13</option>
                      <option value='14'>14</option>
                      <option value='15'>15</option>
                      <option value='16'>16</option>
                      <option value='17'>17</option>
                      <option value='18'>18</option>
                    </select>
                  </div>
                  <div class="col-sm-1 text-center">:</div>
                  <div class="col-sm-5">
                    <select type="number" class="form-control" formControlName="start_time_minutes">
                      <option value="" disabled>-- Select the minutes --</option>
                      <option value='0'>00</option>
                      <option value='30'>30</option>
                    </select>
                  </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                  <div class="col-sm-12">
                    <label for="">Returning time</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <select type="number" value='0' class="form-control" formControlName="end_time_hour">
                      <option value="" disabled>-- Select an hour --</option>
                      <option value='6'>6</option>
                      <option value='7'>7</option>
                      <option value='8'>8</option>
                      <option value='9'>9</option>
                      <option value='10'>10</option>
                      <option value='11'>11</option>
                      <option value='12'>12</option>
                      <option value='13'>13</option>
                      <option value='14'>14</option>
                      <option value='15'>15</option>
                      <option value='16'>16</option>
                      <option value='17'>17</option>
                      <option value='18'>18</option>
                    </select>
                  </div>
                  <div class="col-sm-1 text-center">:</div>
                  <div class="col-sm-5">
                    <select type="number" value='0' class="form-control" formControlName="end_time_minutes">
                      <option value="" disabled>-- Select the minutes --</option>
                      <option value='0'>00</option>
                      <option value='30'>30</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="">Reason of the time off</label>
                    <select type="string" class="form-control" formControlName="time_off_reason">
                      <option value="" disabled>-- Select an reason --</option>
                      <option value='Vacation'>Vacation</option>
                      <option value='Training'>Training</option>
                      <option value='Especial'>Especial Permission</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-primary pull-right" type="submit">Continue</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="times.length > 0">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <table class="table table-hover flt-table" id="ticket">
            <thead>
              <tr>
                <th>Date</th>
                <th>time</th>
                <th class="text-center" style="width:20%;">last Action</th>
                <th class="text-center" style="width:20%;">Modify</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let time of times">
                <td>
                  <i class="qtm-font-icon qtm-icon-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{time.day_off.day}} {{time.day_off.monthString}} {{time.day_off.year}} / {{time.day_on.day}}
                  {{time.day_on.monthString}} {{time.day_off.year}}
                  <!--{{time.day_on.year}} -->
                </td>
                <td>
                  {{time.day_off.hour}} : {{time.day_off.minutes}} - {{time.day_on.hour}} : {{time.day_on.minutes}}
                  <!--{{time.day_on.year}} -->
                </td>
                <td class="text-center"  style="text-transform:capitalize;">
                  {{time.action}}
                </td>
                <td class="text-center" >
                  <a *ngIf="time.disable" class="btn btn-flat btn-primary" (click)="openModal(template, time)" data-toggle="tooltip" data-placement="bottom" title="Edit Time Off">
                    <i class="qtm-font-icon qtm-icon-edit" aria-hidden="true"></i>
                  </a>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #template>
  <form class="form-flat" [formGroup]="myform2" novalidate (ngSubmit)="updateTimeOff(myform2.value)" role="form">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modify Time Off</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="mydaterange" title="Dates out">Days out</label>
            <my-date-range-picker id="mydaterange" name="mydaterange" [options]="myDateRangePickerOptions" formControlName="myDateRange"
              readonly></my-date-range-picker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label for="">Leaving time</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <select type="number" class="form-control" formControlName="start_time_hour">
            <option value="" disabled>-- Hour --</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
            <option value='10'>10</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
            <option value='13'>13</option>
            <option value='14'>14</option>
            <option value='15'>15</option>
            <option value='16'>16</option>
            <option value='17'>17</option>
            <option value='18'>18</option>
          </select>
        </div>
        <div class="col-sm-1 text-center">:</div>
        <div class="col-sm-5">
          <select type="number" class="form-control" formControlName="start_time_minutes">
            <option value="" disabled>-- Minutes --</option>
            <option value='0'>00</option>
            <option value='30'>30</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12">
          <label for="">Returning time</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <select type="number" value='0' class="form-control" formControlName="end_time_hour">
            <option value="" disabled>-- Hour --</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
            <option value='10'>10</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
            <option value='13'>13</option>
            <option value='14'>14</option>
            <option value='15'>15</option>
            <option value='16'>16</option>
            <option value='17'>17</option>
            <option value='18'>18</option>
          </select>
        </div>
        <div class="col-sm-1 text-center">:</div>
        <div class="col-sm-5">
          <select type="number" value='0' class="form-control" formControlName="end_time_minutes">
            <option value="" disabled>-- Minutes --</option>
            <option value='0'>00</option>
            <option value='30'>30</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-11">
          <label for="">Reason of the time off</label>
          <select type="string" class="form-control" formControlName="time_off_reason">
            <option value="" disabled>-- Select an reason --</option>
            <option value='Vacation'>Vacation</option>
            <option value='Training'>Training</option>
            <option value='Especial'>Especial Permission</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-11">
          <label for="">Modification reason</label>
          <input type="text" class="form-control" formControlName="time_off_reasonMD" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-flat btn-primary">
          Modify
        </button>
      <button type="button" class="btn btn-flat btn-default" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>