
$crimson-negative: #e5004c;
$yellow: #fcdb1f;
$green: #4ada26;

//Affix 
// #maintable.affix {
//   top: 0;
//   width: 100%;
//   z-index: 9999 !important;
// }

// #maintable.affix + #tbody {
//   padding-top: 40px;
// }

// #header-fixed
// {
// 	  position: fixed;
//     top: 0px; //display:none;
//     //background-color:white;
// }

// thead #maintable
// {
// 	display: block;
// 	width: 500px;
// 	overflow: auto;
// 	color: #fff;
// 	background: #000;
// }

// tbody #tbody
// {
// 	display: block;
// 	width: 500px;
// 	height: 200px;
// 	background: pink;
// 	overflow: auto;
// }

// #maintable th, #tbody td
// {
// 	padding: .5em 1em;
// 	text-align: left;
// 	vertical-align: top;
// 	border-left: 1px solid #fff;
// }


// ****************************
h1 small{
  font-size: 40%;
  text-transform: none;
  letter-spacing: 1px;
}

.table.table-hover > tbody > tr > td{
  transition: background-color 0.12s ease-out, color 0.12s ease-out;
}
.table > tbody > tr.warning > td{
  background-color: white;
  transition: background-color 0.12s ease-out, color 0.12s ease-out;
}
.table > tbody > tr.warning:hover > td{
  background-color: #fcf8e3;
  transition: background-color 0.12s ease-out, color 0.12s ease-out;
}

.table > tbody> tr.warning > td:first-child{
  box-shadow: 5px 0px 0px 0px $yellow inset;
}

.table > tbody > tr.danger > td:first-child{
  box-shadow: 5px 0px 0px 0px $crimson-negative inset;
}

.table > tbody > tr.danger > td{
  background-color: white;
  transition: background-color 0.12s ease-out, color 0.12s ease-out;
}
.table > tbody > tr.danger:hover > td{
  background-color: #f2dede;
}

// .table > tbody > tr > td.red{
//   background-color: #e47676;
// }

// .table > tbody > tr > td.green{
//   background-color: #4ada26;
// }

p.color-note{
  padding-left: 10px;
  margin-left: 5px;
  &.danger{
    box-shadow: 5px 0px 0px 0px $crimson-negative inset;

  }
  &.warning{
    box-shadow: 5px 0px 0px 0px $yellow inset;
  }
}
