<ng-container *ngIf="loading">
  <div class="text-center">
    <img src="../../assets/loading.gif">
    <br>
    Loading...
  </div>
</ng-container>

<ng-container *ngIf="showhtml">
<div class="row">
  <div class="col-sm-6">
    <h1>Tickets&nbsp;<small>Queue Monitor: {{qm}}</small></h1>
  </div>
  <div class="col-sm-6">
    <span class="pull-right" style="margin-top:24px;">
        <p class="color-note warning">Engineer leaves in less than 1 hour.</p>
        <p class="color-note danger">Engineer leaves in less than 30 minutes.</p>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <table id="ticket" class="table table-hover table-condensed">
        <thead id="maintable" >
          <tr>
            <th>Name</th>
            <th>Time Zone</th>
            <th>Static/Dynamic</th>
            <th class="text-center">Max cases per day</th>
            <th>Schedule ( local time )</th>
            <th>Email</th>
            <th class="text-center">Day off</th>
            <!--<th class="text-center">Average</th>-->
            <th class="text-center">Day</th>
            <th class="text-center">Week</th>
            <th class="text-center">Month</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <ng-container  *ngFor="let datico of data">
            <tr *ngIf="datico.today.available && datico.today.timeoff.status" [ngClass]="{'warning':datico.today.color==='warning','danger':datico.today.color==='danger'}"> <!--class="{{datico.today.color}}" -->
              <td>{{datico.name}} {{datico.last_name}}</td>
              <td>{{datico.time_zone}}</td>
              <td>{{datico.sta_dyn}}</td>
              <td class="text-center">{{datico.max_case}}</td>
              <td>{{datico.today.time}}</td>
              <td> <a href="mailto:{{datico.email}}">{{datico.email}}</a></td>
              <td class="text-center">{{datico.working_days.dayoff}}</td>
              <!--<td class = "text-center" [ngClass]="{'red':datico.average_color==='red','green':datico.average_color==='green'}">{{datico.average}}</td>
              --><td class="text-center">{{datico.countday}}</td>
              <td class="text-center">{{datico.countweek}}</td>
              <td class="text-center">{{datico.countmonth}}</td>
              <td class="text-center">
                <button data-toggle="tooltip" data-placement="left" title="Add case" (click)="addTicket(datico._id, datico.name, datico.last_name)" [disabled]="datico.disableAddButton" class="btn btn-flat btn-primary"><i class="qtm-font-icon qtm-icon-add qtm-icon-small-10" aria-hidden="true"></i></button>
                &nbsp;/&nbsp;<button data-toggle="tooltip" data-placement="bottom" title="Remove case" (click)="openModal(template, datico._id)" [disabled]="datico.disableLessButton" class="btn btn-flat btn-danger"><i class="qtm-font-icon qtm-icon-minus qtm-icon-small-10" aria-hidden="true"></i></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Case</h4>
  </div>
  <form  [formGroup]="myform" (ngSubmit)="deleteTicket(myform.value)" role="form" class="form-flat ng-pristine ng-valid">
  <div class="modal-body">
    Please add the reason for why you are deleting this case?
    <br>
      <input type="hidden" formControlName="id">
      <input type="text" formControlName="delete_reason" placeholder="please add the reason to delete this case">
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-flat btn-danger">
          Delete
      </button>
    <button type="button" class="btn btn-flat btn-default" (click)="modalRef.hide()">
        Cancel
    </button>
</div>
</form>
</ng-template>

</ng-container>