
  <div class="container" *ngFor="let rota of rotation">
    <form class="form-horizontal ibox-content" *ngIf="showtable" [formGroup]="myform" (ngSubmit)="updateRotation(myform.value)" role="form">

  
        <div class="container"> 
                <div>
                        <label class="col-sm-2 label-form  control-label">Week {{rota.week}}</label>

                </div>
            <br>
            <br>    
            <div class="form-group">
                <input type="hidden" [value]="rota.week" formControlName="week">
                <label class="col-sm-2 label-form  control-label">Monday</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" [value]="rota.monday_morning" formControlName="monday_morning">
                </div>
                <label class="col-sm-2 label-form control-label">:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" [value]="rota.monday_afternoon" formControlName="monday_afternoon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 label-form  control-label">Tuesday</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.tuesday_morning}}" formControlName="tuesday_morning">
                </div>
                <label class="col-sm-2 label-form control-label">:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.tuesday_afternoon}}" formControlName="tuesday_afternoon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 label-form  control-label">Wednesday</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.wednesday_morning}}" formControlName="wednesday_morning">
                </div>
                <label class="col-sm-2 label-form control-label">:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.wednesday_afternoon}}" formControlName="wednesday_afternoon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 label-form  control-label">Thursday</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.thursday_morning}}" formControlName="thursday_morning">
                </div>
                <label class="col-sm-2 label-form control-label">:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.thursday_afternoon}}" formControlName="thursday_afternoon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 label-form  control-label">Friday</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.friday_morning}}" formControlName="friday_morning">
                </div>
                <label class="col-sm-2 label-form control-label">:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" value="{{rota.friday_afternoon}}" formControlName="friday_afternoon">
                </div>
            </div>
            <div>
                <div class="cont-button" style="float: right;">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </form>



</div>







<!--  
    

        <div class="col-md-4">
          <div class="form-group">
              <label class="col-sm-2 label-form  control-label">Lunes</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="00"  formControlName="monday_morning">
              </div>
              <label class="col-sm-2 label-form control-label">:</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="00" formControlName="monday_afternoon">
              </div>
          </div>
      </div>

        <div class="container">
    <div class="cont-button">
        <div class="form-group">
            <button type="button" class="btn btn-standard" (click)="cancelEditing.emit();" [disabled]="loading">
                <i class="fa fa-times-circle-o"></i> Cancel</button>
            <button class="btn btn-primary" type="submit">Continue</button>
        </div>
    </div>
</div>


-->
