
            <div class="display:inline-block;">
                <button type="button" (click)="getWeek(1)">Week 1</button>

                <button type="button" (click)="getWeek(2)">Week 2</button>

                <button type="button" (click)="getWeek(3)">Week 3</button>

                <button type="button" (click)="getWeek(4)">Week 4</button>

                <button type="button" (click)="getWeek(5)">Week 5</button>

                <button type="button" (click)="getWeek(6)">Week 6</button>
            </div>

            
            
            


        <form class="form-horizontal ibox-content" *ngIf="showtable" [formGroup]="myform" (ngSubmit)="updateRotation(myform.value)" role="form">
                <div>
                        <label class="col-md-2 label-form  control-label">Week {{rotation.week}}</label>
        
                    </div>
            <div class="form-group" >
                <input type="hidden" formControlName="week">
                <label class="col-md-2 label-form  control-label">Monday Morning</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="monday_morning">
                </div>
                <label class="col-md-2 label-form control-label">Monday Afternoon</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"   formControlName="monday_afternoon">
                </div>
                <label class="col-md-2 label-form control-label">Monday EMEA</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="monday_emea">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 label-form  control-label">Tuesday Morning</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="tuesday_morning">
                </div>
                <label class="col-md-2 label-form control-label">Tuesday Afternoon</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="tuesday_afternoon">
                </div>
                <label class="col-md-2 label-form control-label">Tuesday EMEA</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"   formControlName="tuesday_emea">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 label-form  control-label">Wednesday Morning</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="wednesday_morning">
                </div>
                <label class="col-md-2 label-form control-label">Wednesday Afternoon</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="wednesday_afternoon">
                </div>
                <label class="col-md-2 label-form control-label">Wednesday EMEA</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"   formControlName="wednesday_emea">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 label-form  control-label">Thursday Morning</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="thursday_morning">
                </div>
                <label class="col-md-2 label-form control-label">Thursday Afternoon</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" formControlName="thursday_afternoon">
                </div>
                <label class="col-md-2 label-form control-label">Thursday EMEA</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="thursday_emea">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 label-form  control-label">Friday Morning</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="friday_morning">
                </div>
                <label class="col-md-2 label-form control-label">Friday Afternoon</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"  formControlName="friday_afternoon">
                </div>
                <label class="col-md-2 label-form control-label">Friday EMEA</label>
                <div class="col-md-2">
                    <input type="text" class="form-control"   formControlName="friday_emea">
                </div>
            </div>
        <div>

        </div>
        <div class="cont-button" style="float: right;">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>












<!--  
    

        <div class="col-md-4">
          <div class="form-group">
              <label class="col-md-2 label-form  control-label">Lunes</label>
              <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="00"  formControlName="monday_morning">
              </div>
              <label class="col-md-2 label-form control-label">:</label>
              <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="00" formControlName="monday_afternoon">
              </div>
          </div>
      </div>

        <div class="container">
    <div class="cont-button">
        <div class="form-group">
            <button type="button" class="btn btn-standard" (click)="cancelEditing.emit();" [disabled]="loading">
                <i class="fa fa-times-circle-o"></i> Cancel</button>
            <button class="btn btn-primary" type="submit">Continue</button>
        </div>
    </div>
</div>


-->
