<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>


<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1>Weekend Rotation shifts</h1>
  </div>
</div>
<div class="row" >
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div [ngSwitch]="view">
        <div *ngIf="events$ | async; else loading; let events">
          <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)">
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
  </div>
</div>



