td.left-header{
  text-transform:uppercase;
  font-size:14px;
  font-weight:700;
  font-style:normal;
  color: #323435;
}

li.edit-calendar-icon {
  color: #0073E7 !important;
}

.calendar-buttons-margin{
  margin: 15px 0 0 0;
}

.calendar-month-title{
  font-size: 2em;
  margin: 20px 0;
}

.qtm-icon-default {
  color: red !important;
}

.weekend-rotation-component{
  border: 1px solid #e5e5e5;
}
