.colform{
    padding-right: 5%;
}

.colbutton{
    margin-top: 6%;
    margin-left: 6%;
}

.btn-form{
    width: 90%;
}

.modal-lg{
    margin-left: 12%;

}
.input-form{
    width: 200px;
}

.form-modal{
    width: 210px;
    padding-bottom: 1%;
}
.form-inl{
    text-align: center;
}

.edit-oncall-dates-header{
  margin-left: 1.4em;
}
