.colform{
    padding-right: 5%;
}

.colbutton{
    margin-top: 6%;
    margin-left: 6%;
}

.btn-form{
    width: 90%;
}

.modal-lg{
    margin-left: 12%;

}
.input-form{
    width: 200px;
}

.form-modal{
    width: 210px;
    padding-bottom: 1%;
}
.form-inl{
    text-align: center;
}

.edit-oncall-dates-header{
  margin-left: 1.4em;
}

.wkd-label {

}

.wkd-input {
  float: left;
  width: 50%;
}

.wkd-minus-button {
  margin-left: 5px;
  float: left;
  padding: 4px 0 0 5px;
  height: 35px;
  width: 35px;
  color: #0073E7;
}

.wkd-button:hover {
  color: #0050c7;
  background-color: #ddd;
}

.wkd-plus-button {
  display: inline;
  float: right;
  padding: 5px;
  color: #0073E7;
  height: 35px;
  width: 35px;
}

.wkd-plus-span {
  display: inline;
  float: left;
  margin: 5px 0 0 15px;
}

.wkd-submit-btn-form {
  text-align: right;
}

.wrd-nodates-title{
  text-align: center;
}


