<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1>Users</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <table class="table table-hover" id="ticket">
        <thead>
          <tr>
            <th style="width:70%">Name</th>
            <th class="text-center" colspan=3>Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}} {{user.last_name}}</td>
          <td class="text-center"><a class="btn btn-flat btn-secondary" (click)="goToSchedule(user._id)"><i class="qtm-font-icon qtm-icon-calendar" aria-hidden="true"></i>&nbsp;Edit Schedule</a></td>
          <td class="text-center"><a class="btn btn-flat btn-primary" (click)="goToUser(user._id)"><i class="qtm-font-icon qtm-icon-edit" aria-hidden="true"></i>&nbsp;Edit user</a></td>
          <td class="text-center"><a class="btn btn-flat btn-danger" (click)="deleteUser(user._id)"><i class="qtm-font-icon qtm-icon-assigned-to-none" aria-hidden="true"></i>&nbsp;Delete user</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
