/*
$primary-color: #0073E7;
$bright-grey: #ECEEEF;
$grey: #DCDEDF;

.navbar{
 border-radius: 0px;
}

.navbar-default{
  background-color: $primary-color;
  border-color: $primary-color;
  box-shadow: 7px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  a{
   color: rgba(255, 255, 255, 0.8);
   font-size: 16px;
   text-transform: uppercase;
   &:hover, &:active, &:focus{
    color: white;
   }
   &:active, &:focus{
    font-weight: 600;
   }
  }


  .navbar-default .navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:active{
   color: white;
   background-color: transparent;
  }

  .dropdown-menu > li > a{
   color: #333;
   cursor: pointer;
   text-transform: none;
  }
}

// Fortify icon on the navbar
.navbar-brand{
 padding: 0 0;
 img{
  height: 51px;
 }
}

@media (min-width: 768px) {
 .navbar > .container-fluid .navbar-brand{
  margin-left: -16px;
 }
}

//Mobile toogle

.navbar-toogle{
 transition: all ease 0.2s;
 border: 0px solid transparent !important;
 &:hover, &:focus{
  background-color: transparent !important;
 }
 .icon-bar{
  background-color: $bright-grey;
  &:hover, &:focus{
   background-color: white;
  }
 }
}
*/
