
 .principal_image{
    height: 150px;
    width: 120px;
    margin-top: -2px;
    margin-left: 50px;
  }
 
 .navcustom{
   background-color: white!important;
   height: 170px;
 }
 
 .navmenu{
   float: right!important;
   font-size: 20px;
 }
 