<div class="row">
  <div class="col-sm-12">
    <h1>Queue monitors shifts&nbsp;<small>(current week)</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <table class="table" id="ticket">
        <tbody>
          <tr>
            <th style="width: 120px;"></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
          <tr>
            <td class="left-header">AMS East</td>
            <td>{{week.monday_morning}}</td>
            <td>{{week.tuesday_morning}}</td>
            <td>{{week.wednesday_morning}}</td>
            <td>{{week.thursday_morning}}</td>
            <td>{{week.friday_morning}}</td>
          </tr>
          <tr>
            <td class="left-header">AMS West</td>
            <td>{{week.monday_afternoon}}</td>
            <td>{{week.tuesday_afternoon}}</td>
            <td>{{week.wednesday_afternoon}}</td>
            <td>{{week.thursday_afternoon}}</td>
            <td>{{week.friday_afternoon}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <p><i class="qtm-font-icon qtm-icon-warning qtm-icon-default" aria-hidden="true" style="color:#fcdb1f;"></i> Please refrain from assigning cases to engineers in the final 30 min of their shift. In rare cases where it is necessary to pass someone a case beyond that, please pop an internal note on it just explaining why it's coming to them.</p>
  </div>
</div>
